.footer {
  margin-top: 104px;
  padding-bottom: 54px;
}

.bottom {
  display: flex;
  column-gap: 35px;
  justify-content: center;
}

.copyright-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #21243d;
}
