.navbar {
  width: 100%;
  height: 40px;
}

.navbar > ul {
  display: flex;
  column-gap: 43px;
  list-style-type: none;
  justify-content: flex-end;
  margin: 27px 60px 0 0;
}

.navbar__blog {
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  /* color: #ff6464; */
  color: #000000;
}

.navbar__blog-home,
.navbar__blog-works,
.navbar__blog-contact {
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #000000;
}

.link__style {
  text-decoration: none;
}

@media screen and (max-width: 375px) {
  .navbar {
    display: none;
  }
}
